# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
<ul>
<li>List popular languages for Data Science</li>
<li>List popular libraries for Data Science</li>
<li>List popular expression for Data Science using python</li>
</ul>

##### Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>Java</li>
<li>C</li>
<li>C++</li>
</ol>

##### Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>NumPy</li>
<li>Matplotlib</li>
<li>Pandas</li>
<li>SciPy</li>
<li>Seaborn</li>
</ol>

|Data Science Tools ||  | | 
|-----|:-----|:---:|:-----:|
|Apache Hadoop |
|Apache Spark  |
|Apache Flink  |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
**Cecilia**